<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title"><%= singular_table_name.titleize %></h3>
</div>

<div class="modal-body">
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <p>
      <strong><%= attribute.human_name.titleize %>:</strong>
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </p>
  <% end -%>
</div>

<div class="modal-footer">
  <%%= link_to 'Close', '#', class: 'btn', data: {dismiss: 'modal'} %>
</div>