<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title">Add <%= singular_table_name.titleize %></h3>
</div>
<%%= render 'form' %>