<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand">
        <span style="display:inline-block;">Sample App</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <% if user_signed_in? %>
        <div class="more-button dropdown pull-right">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-2x fa-bars"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% if current_user.has_role?(:admin) %>
                <li><%= link_to 'Admin', static_admin_path %></li>
            <% end %>

            <li><%= link_to 'Sign out', destroy_user_session_path, data:{method: :delete} %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
